@import '../../styles';

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: $primary-color-dark;

  .third {
    width: 33%;
  }

  .logo {
    margin-left: 1em;

    img {
      height: 60px;
      width: 130px;
    }
    img:hover {
      cursor: pointer;
    }

  }

  .version {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      color: $primary-color-text;
      margin: 0;
      font-size: 0.8em;
    }
  }

  .rights {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;

    p {
      color: $primary-color-text;
      text-align: right;
      margin: 0;
      font-size: 0.6em;
    }
  }

}