@import '../../styles';

.test-detail {
    width: 100%;

    .detail-container {
      width: 75%;

      .details {
        padding-top: 1em;

        mat-list-item {
          font-size: 14px;

          div {
            font-weight: 600;
            min-width: 50%;
          }
        }
      }
    }

    .info {
      width: 25%;
      padding: 1em 0 0 2em;

      .edit-test {
        text-align: center;
        padding: 0 0 2em 0;
        color: $accent-color;

        button {
          background-color: $primary-color;
          color: $primary-color-text;

          mat-icon {
            transform: scale(0.8);
          }
        }
      }

      h6 {
        text-align: center;
        color: $primary-color;
        font-weight: 600;
      }
    }
}

@media only screen and (max-width: 768px) {
  .info { display: none !important };

  .detail-container {
    width: 100% !important;
  }
}