<div class="test-detail">

  <div class="detail-container">
    <h4>{{test?.name}}</h4>
    <div class="details">
      <mat-card>
        <p>{{test?.description}}</p>
      </mat-card>
    </div>
  </div>

  <div class="info">
    <mat-card>
      <h6>Info</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse animi, necessitatibus optio iste corrupti maxime ex possimus sit doloribus quam quod, dolores a enim vel. In nisi delectus similique itaque!</p>
    </mat-card>
  </div>

</div>
