<div class="menu-bar">
  
  <div class="logo">
    <img src="../../assets/pathlab_services_logo_white.png" [routerLink]="['/']">
  </div>
  
  <div class="menu">
    <div class="menu-dropdown">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menu"><mat-icon>dehaze</mat-icon></button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item class="menu-item" [routerLink]="['/']">Home</button>
        <button mat-menu-item class="menu-item" [routerLink]="['/tests']">Tests</button>
        <button mat-menu-item class="menu-item" [routerLink]="['/about']">About</button>
        <button mat-menu-item class="menu-item" [routerLink]="['/contact']">Contact</button>
      </mat-menu>
    </div>

    <div class="menu-tabs">
      <button mat-button [routerLink]="['/']" [ngClass]="{selected : menuPage=='/'}">Home</button>
      <button mat-button [routerLink]="['/tests']" [ngClass]="{selected : menuPage=='/tests'}">Tests</button>
      <button mat-button [routerLink]="['/about']" [ngClass]="{selected : menuPage=='/about'}">About</button>
      <button mat-button [routerLink]="['/contact']" [ngClass]="{selected : menuPage=='/contact'}">Contact</button>
    </div>
  </div>

  <div class="search-bar">
    <mat-form-field>
      <button mat-icon-button matSuffix (click)="searchText=''" [disabled]="!searchText" class="mat-form-field-suffix"><mat-icon class="mat-icon" color="warn">{{searchText ? "clear" : "" }}</mat-icon></button>
      <mat-label>Search tests...</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" (keyup.enter)="onSearchClick()">
      <button mat-icon-button matSuffix class="mat-form-field-suffix" (click)="onSearchClick()"><mat-icon class="mat-icon">search</mat-icon></button>
    </mat-form-field>
  </div>

  <div class="recent-tests" *ngIf="recentTests.length > 0">
    <button mat-button [matMenuTriggerFor]="tests">Recently Viewed Tests<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #tests="matMenu" xPosition="after">
      <button mat-menu-item class="menu-item" *ngFor="let test of recentTests" [routerLink]="['/test-detail', test.id]">
        {{test.name}}
      </button>
    </mat-menu>
  </div>

  <div class="account-icon" (click)="displayAccountModal=!displayAccountModal">
    <h6 *ngIf="user">Hello, {{user.firstName}}</h6>
    <button *ngIf="!user" mat-icon-button><mat-icon>account_circle</mat-icon></button>
    <button class="user" *ngIf="user" mat-mini-fab>{{user?.firstName[0]}}</button>
  </div>

  <div class="account" *ngIf="displayAccountModal">
    <mat-card>
      <div *ngIf="user">
        <div class="user-info">
          <button *ngIf="user" mat-fab>{{user.firstName[0]}}</button>
          <div class="name">
            <p>{{user.firstName}} {{user.lastName}}</p>
          </div>
          <div class="email">
            <p>{{user.email}}</p>
          </div>
          <div></div>
        </div>
        <mat-list><mat-divider></mat-divider></mat-list>
        <div class="user-options">
          <button mat-button>Sign Out</button>
        </div>
      </div>

      <div *ngIf="!user">
        <div class="info">
          <button mat-icon-button class="fab"><mat-icon>account_circle</mat-icon></button>
          <div class="notice">
            <p>Sign in to an existing account</p>
            <p>Register to create a new account</p>
          </div>
          <mat-list><mat-divider></mat-divider></mat-list>
          <div class="options">
            <button mat-button>Sign In</button>
            <button mat-button>Register</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>