.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.menu-bar {
  width: 100%;
  height: 80px;
  display: flex;

  .cml-logo {
    margin: 20px 10px 20px 30px;
  }

  .menu-tabs {
    margin: 20px 10px 20px 10px;
  }

  .search-bar {
    margin: 10px 10px 10px 10px;
  }
}
