@import '../../styles';

.menu-bar {
  width: 100%;
  height: 80px;
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: $primary-color-dark;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);

  img {
    height: 70px;
    width: 160px;
    padding: 5px 0px 0px 20px;
  }

  img:hover {
    cursor: pointer;
  }

  .menu-tabs {
    margin: 23px 20px 20px 20px;
    color: $primary-color-text;

    button {
      font-size: 16px;
      padding: 0px;
      margin: 0px 10px 0px 10px;
      border-radius: 0px;
    }

    button:hover {
      border-bottom: 2px solid $accent-color;
    }

    .selected {
      border-bottom: 2px solid $accent-color;
    }
  }

  .search-bar {
    margin: 10px 10px 10px 10px;
    background-color: $primary-color-text;
    border-radius: 30px;
  }

  .recent-tests {
    height: 35px;
    color: $primary-color-text;
    padding: 23px;
    
  }
}

::ng-deep {
  .search-bar {

    .mat-form-field-suffix {
      display: flex;
    }
  
    .mat-icon {
      font-size: 125% !important;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-infix {
      margin-left: 15px;
    }

  }

  .menu-item:focus {
      outline: none;
  }

}