<div class="menu-bar box-shadow">

  <button mat-mini-fab color="primary" class="cml-logo">CML</button>

  <div class="menu-tabs">
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/tests']">Tests</button>
    <button mat-button [routerLink]="['/about']">About</button>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="fill">
      <button mat-icon-button matSuffix (click)="searchText=''" [disabled]="!searchText" class="mat-form-field-suffix"><mat-icon class="mat-icon">{{searchText ? "clear" : "" }}</mat-icon></button>
      <mat-label>Search tests...</mat-label>
      <input matInput type="text" [(ngModel)]="searchText">
      <button mat-icon-button matSuffix class="mat-form-field-suffix"><mat-icon class="mat-icon">search</mat-icon></button>
    </mat-form-field>
  </div>

</div>
