<div class="menu-bar box-shadow">

  <button mat-mini-fab color="primary" class="cml-logo">CML</button>

  <div class="menu-tabs">
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/tests']">Tests</button>
    <button mat-button [routerLink]="['/about']">About</button>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="fill">
      <button mat-icon-button matPrefix><mat-icon>search</mat-icon></button>
      <mat-label>Search tests...</mat-label>
      <input matInput type="text" [(ngModel)]="searchText">
      <button mat-icon-button matSuffix *ngIf="searchText" (click)="searchText=''"><mat-icon>clear</mat-icon></button>
    </mat-form-field>
  </div>

</div>
