@import '../../styles';

.home {
    width: 100%;

    .featured {
      height: 400px;
      background-color: $primary-color-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .title {
        color: $primary-color-text;
        line-height: 7em;

        h1 {
          font-size: 4em;
          font-weight: 300;
        }

        h2 {
          font-size: 1.1em;
          font-weight: 300;
        }

        button {
          background-color: $primary-color-text;
          color: $primary-text-color;
          transition: 0.7s;
        }

        button:hover {
          background-color: $accent-color;
          transition: 0.7s;
        }
      }
    }

    .content {
      margin: 4em;

      .homepage-row {
        display: flex;
        height: 300px;

        .homepage-image {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          mat-icon {
            color: $secondary-text-color;
            transform: scale(8);
            margin-left: 25%;
          }
        }

        .homepage-image-right {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          mat-icon {
            color: $secondary-text-color;
            transform: scale(8);
            margin-right: 25%
          }
        }

        .homepage-info {
          width: 50%;
          display: flex;
          align-items: center;

          div {
            color: $secondary-text-color;
            width: 85%;

            button {
              background-color: $primary-color-dark;
              color: $primary-color-text;
              transition: 0.3s;
              margin-left: 25%;
              margin-top: 1em;
            }

            button:hover {
              background-color: $primary-color;
              transition: 0.3s;
            }
          }
        }

        .homepage-info-left {
          width: 50%;
          display: flex;
          align-items: center;
          
          div {
            text-align: right;
            color: $secondary-text-color;
            margin-left: auto;
            width: 85%;

            button {
              background-color: $primary-color-dark;
              color: $primary-color-text;
              transition: 0.3s;
              margin-right: 25%;
              margin-top: 1em;
            }

            button:hover {
              background-color: $primary-color;
              transition: 0.3s;
            }
          }
        }
      }
    }

    .centered {
      text-align: center;
      margin-bottom: 4em;

      button {
        background-color: $accent-color-dark;
        color: $primary-color-text;
        transition: 0.3s;
      }

      button:hover {
        background-color: $accent-color;
        transition: 0.3s;
      }
    }
}