@import '../../styles';

.home {
    width: 100%;

    .featured {
      height: 500px;
      background-color: $primary-color-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .title {
        color: $primary-color-text;
        line-height: 7em;

        h1 {
          font-size: 4em;
          font-weight: 300;
        }

        h2 {
          font-size: 1.1em;
          font-weight: 300;
        }

        button {
          background-color: $primary-color-text;
          color: $primary-text-color;
          transition: 0.7s;
        }

        button:hover {
          background-color: $accent-color;
          transition: 0.7s;
        }
      }
    }

    .content {
      width: 100%;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;

      .description {
        width: 33%;
        padding-top: 5em;
        height: 320px;
        border-bottom: 1px solid $divider-color;
        line-height: 7em;

        h1 {
          font-size: 2em;
          font-weight: 300;
        }

        h2 {
          font-size: 1.1em;
          font-weight: 300;
        }

      }
    }

}

@media only screen and (max-width: 768px) {
}