<div class="home">
  <div class="home-main">
    <h4>Central Medical Laboratory</h4>
    <div class="home-image">
      <img src="/assets/cml_home.jpg">
    </div>
    <div class="home-info">
      <div>
        <h4>Quality means everything</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempora, eveniet quos labore commodi animi nulla voluptatibus molestiae accusamus voluptatum eius itaque, ex nesciunt iusto veniam a praesentium quidem rerum.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat minima nemo vero exercitationem accusamus maiores, quod in id esse omnis doloremque fuga non eius ut sed! Odio, dignissimos! Voluptatum, non!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident harum aliquid iusto, quidem atque ut possimus autem amet dicta ipsam libero quos suscipit fuga repellat commodi, impedit exercitationem reiciendis dolore?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed placeat optio maxime recusandae totam! Qui dignissimos modi voluptatibus autem aut cupiditate iste repudiandae iure expedita, blanditiis in, labore nesciunt reiciendis.
      </p>
    </div>
  </div>
  <div class="feature-block">
      <h6>Feature block</h6>
      <div class="feature-links">
        <ul>
          <li><a>feature 1</a></li>
          <li><a>feature 2</a></li>
          <li><a>feature 3</a></li>
          <li><a>feature 4</a></li>
          <li><a>feature 5</a></li>
          <li><a>feature 6</a></li>
          <li><a>feature 7</a></li>
          <li><a>feature 8</a></li>
          <li><a>feature 9</a></li>
        </ul>
      </div>
  </div>
</div>