<div class="contact">

  <div class="contact-info">
    <h4>Management Team</h4>

    <mat-card>
      <div class="personal">
        <h6>John C. Hiserodt, M.D., PhD.</h6>
        <p class="italics">Owner &nbsp;|&nbsp; Pathologist</p>
        <p class="light">jch@centralmedlab.com</p>
      </div>
      <div class="photo">
        <mat-icon>account_circle</mat-icon>
      </div>
    </mat-card>

    <mat-card>
      <div class="personal">
        <h6>Firas Tamary MS.MT (ASCP)</h6>
        <p class="italics">Owner &nbsp;|&nbsp; BioAnalyst</p>
        <p class="light">ftamary@centralmedlab.com</p>
      </div>
      <div class="photo">
        <mat-icon>account_circle</mat-icon>
      </div>
    </mat-card>
  </div>

  <div class="map">
    <h4>Location</h4>
    <app-google-map></app-google-map>
    <p class="italics">7707 Garden Grove Blvd., Garden Grove CA 92841 </p>
  </div>

</div>
