@import '../../styles';

.contact {

  width: 100%;
  display: flex;
  padding: 20px 0px 0px 0px;

  .map {
    width: 60%;
    padding: 0px 40px 0px 0px;

    h4 {
      padding-bottom: 10px;
    }
  }

  .contact-info {
    width: 40%;
    padding: 0px 0px 0px 0px;

    h4 {
      padding-bottom: 10px;
    }

    mat-card {
      margin: 0px 0px 40px 0px;
      display: flex;

      .personal {
        width: 70%;
        border-right: 0.5px dashed grey;
        padding-left: 20px; 

        h6 {
          color: $primary-color;
          margin: 10px 0px 16px 0px;
        }
      }

      .photo {
        width: 30%;

        mat-icon {
          font-size: 80px;
          height: fit-content;
          width: fit-content;
          float: right;
          padding: 20px 13px 0px 0px;
          color: $primary-color-dark;
        }
      }
    }
  }

  .italics {
    font-style: italic;
  }

  .light {
    font-weight: 200;
  }
}