<div class="contact">

  <div class="body">
    <div class="contact-row">
      <div class="contact-info">
        <h4>Dr. John C. Hiserodt, M.D., PhD</h4>
        <h6 class="italics">Owner &nbsp;|&nbsp; Pathologist</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui commodi nemo, 
           neque blanditiis quisquam iusto explicabo consectetur fugit iure molestias dicta labore.
           Vitae totam, error labore molestias quisquam mollitia quam!</p>
        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui commodi nemo, 
        neque blanditiis quisquam iusto explicabo consectetur fugit iure molestias dicta labore.
        Vitae totam, error labore molestias quisquam mollitia quam!"</p>
      </div>
      <div class="contact-photo">
        <img src="../../assets/generic_doctor.jpg">
      </div>
    </div>

    <div class="contact-row">
      <div class="contact-photo">
        <img src="../../assets/generic_doctor (2).jpg">
      </div>
      <div class="contact-info">
        <h4>Dr. Firas Tamary MS.MT (ASCP)</h4>
        <h6 class="italics">Owner &nbsp;|&nbsp; BioAnalyst</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui commodi nemo, 
           neque blanditiis quisquam iusto explicabo consectetur fugit iure molestias dicta labore.
           Vitae totam, error labore molestias quisquam mollitia quam!</p>
        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui commodi nemo, 
        neque blanditiis quisquam iusto explicabo consectetur fugit iure molestias dicta labore.
        Vitae totam, error labore molestias quisquam mollitia quam!"</p>
      </div>
    </div>

    <div class="map">
      <div class="map-info">
        <h4>Location</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
           Totam dolor cumque labore quia, quasi facilis. Quasi, odio. 
           Consequatur ea provident quaerat ipsa? Non voluptates fugiat rerum odio commodi, 
           suscipit corporis.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Totam dolor cumque labore quia, quasi facilis. Quasi, odio. 
        Consequatur ea provident quaerat ipsa? Non voluptates fugiat rerum odio commodi, 
        suscipit corporis.</p>
      </div>
      <div class="gmap">
        <p class="address">7707 Garden Grove Blvd., Garden Grove CA 92841 </p>
        <app-google-map></app-google-map>
      </div>
    </div>

  </div>

</div>