@import '../../styles';

.contact {
  width: 100%;
  background-color: #ebebeb;
  padding-top: 70px;
  min-height: 1080px;

  .contact-row {
    width: 100%;
    display: flex;
    height: 300px;

    .contact-info {
      width: 66%;
      padding: 0 1em 0 1em;

      .italics {
        font-style: italic;
      }
    }

    .contact-photo {
      width: 33%;

      img {
        height: 260px;
        width: 300px;
      }
    }
  }

  .map {
    width: 100%;
    display: flex;
    padding: 2em 0 0 0;

    .map-info {
      width: 40%;
      padding: 0em 2em 0 0em;
    }

    .gmap {
      width: 60%;
      padding: 2em 0em 0 2em;

      p {
        text-align: right;
      }
    }
  }
}