
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat-palette($mat-green);
$accent-palette: mat-palette($mat-orange);

// The warn palette is optional (defaults to red).
$warn-palette: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);

$primary-color: map-get($mat-green, 700);
$primary-color-light: scale-color($primary-color, $lightness: 50%);
$primary-color-dark: scale-color($primary-color, $lightness: -50%);

$accent-color: map-get($accent-palette, 700);
$accent-color-light: scale-color($accent-color, $lightness: 50%);
$accent-color-dark: scale-color($accent-color, $lightness: -20%);

$primary-color-text: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$font-family: 'Muli';

body {
  width: 100%;
}

.header {
  background-color: $primary-color-dark;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 7em;
  
  h4 {
    color: $primary-color-text;
    font-weight: 300;
  }
}

.body {
  width: 100%;
  padding: 2em 6em 4em 6em;
}

.flex {
  display: flex;
}

img:focus {
  outline: none;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: $font-family !important;
}

::ng-deep {
  button:focus {
    outline: none;
  }
  button {
    font-family: $font-family !important;
  }

  mat-form-field {
    font-family: $font-family !important;
  }

  mat-card {
    font-family: $font-family !important;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding-left: 4em !important;
  }

  .body {
    padding: 1em 4em 2em 4em !important;
  }
}
