<div class="tests">

  <div class="results-container">
    <h4>Tests</h4>
    <div class="results">
        <mat-card>
          <mat-list *ngFor="let test of filteredTests">
            <mat-list-item>{{test.name}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card>
    </div>
  </div>

  <div class="info">
    <mat-card>
      <h6>Info</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse animi, necessitatibus optio iste corrupti maxime ex possimus sit doloribus quam quod, dolores a enim vel. In nisi delectus similique itaque!</p>
    </mat-card>
  </div>

</div>
