@import '../../styles';

.tests {
    width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;

    .results-container {
        width: 75%;
        padding: 10px 30px 10px 10px;

        .results {
            width: 100%;
            padding: 10px 0px 0px 0px;
        }
    }

    .info {
        width: 25%;
        padding: 40px 10px 10px 30px;

        h6 {
            text-align: center;
        }
    }
}