@import '../../styles';

.tests {
    width: 100%;

    .results-container {
        width: 75%;

        .filter-container {
          display: flex;
          position: relative;

          .alphabet-list {
            padding: 0.5em;

              button {
                  min-width: 0px;
                  padding: 0px 5px 0px 5px;
                  margin: 0px 3px 0px 3px;
                  border-bottom: 1px solid $primary-color-text !important;
                  border-radius: 0px;
              }

              button:hover {
                border-bottom: 1px solid $accent-color !important;
                border-radius: 0px;
              }

              button:focus {
                outline: none;
              }

              .border-bottom {
                  border-bottom: 1px solid $accent-color !important;
                  border-radius: 0px;
              }
          }

          .filter-button {
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
                        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 20px;
            position: absolute;
            right: 0;
            bottom: 0.5em;
          }
        }

        .results {

            .results-header {
              position: relative;
              padding-left: 16px; //in pixels to keep exactly with mat-list padding

              h5 {
                color: $primary-color;
              }

              mat-form-field {
                position: absolute;
                right: 0.5em;
                top: 0;
              }

            }

            .test-link {
                white-space: nowrap;
                overflow-x: hidden;

                a {
                    color: $primary-text-color;
                    font-weight: 600;
                }

                a:hover {
                    cursor: pointer;
                    text-decoration: none;
                    color: $accent-color;
                }

                .test-description {
                    font-size: 12px;
                }
            }
        }
    }

    .info {
        width: 25%;
        padding: 3em 0 0 2em;
        align-items: center;

        h6 {
            text-align: center;
            color: $primary-color;
            font-weight: 600;
        }
    }
}

::ng-deep {
  .filter-button {
      .mat-icon {
        transform: scale(0.7);
      }
  }

  .results-header {
    .mat-form-field {
      .mat-icon {
        color: rgba(0, 0, 0, 0.54);
        transform: scale(0.8);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .info { display: none !important };
  .mat-form-field { display: none !important };

  .filter-button {
    bottom: -3em !important;
    right: 0.5em !important;
    transform: scale(0.8) !important;
    z-index: 1 !important; 
  }

  .results-container { 
    width: 100% !important;
  }
}