<div class="tests">

  <div class="header">
    <h4>Tests</h4>
  </div>

  <div class="body flex">
    <div class="results-container">
      <div class="filter-container">
        <div class="alphabet-list">
          <button mat-button *ngFor="let letter of alphabet" (click)="onLetterClick(letter)" [ngClass]="{'border-bottom' : letter==selectedLetter}">{{letter}}</button>
        </div>
        <button mat-button class="filter-button" color="primary" *ngIf="searchText || selectedLetter" (click)="clearFilter()">clear filter<mat-icon class="mat-icon" color="warn">clear</mat-icon></button>
      </div>
      <div class="results">
        <mat-card>
          <div class="results-header">
            <h5>Results</h5>
            <h6>{{resultMessage}}</h6>
            <mat-form-field>
              <mat-label>Search tests...</mat-label>
              <input matInput type="text" [(ngModel)]="tempSearchText" (keyup.enter)="onSearchClick()">
              <button mat-icon-button matSuffix class="mat-form-field-suffix" (click)="onSearchClick()"><mat-icon class="mat-icon">search</mat-icon></button>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <mat-list *ngFor="let test of filteredTests">
            <mat-list-item>
              <div class="test-link">
                <a [routerLink]="['/test-detail', test.id]">{{test?.name}}</a>
                <div class="test-description">
                  {{test?.code}}
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"></mat-paginator>
        </mat-card>
      </div>
    </div>

    <div class="info">
      <mat-card>
        <h6>Info</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse animi, necessitatibus optio iste corrupti maxime ex possimus sit doloribus quam quod, dolores a enim vel. In nisi delectus similique itaque!</p>
      </mat-card>
    </div>

  </div>

</div>
