<div class="account">

  <div class="user" *ngIf="user">
    <mat-card>
      <div class="info">
        <button *ngIf="user" mat-fab>{{user.firstName[0]}}</button>
        <div class="name">
          <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div class="email">
          <p>{{user.email}}</p>
        </div>
        <div></div>
      </div>
      <mat-list><mat-divider></mat-divider></mat-list>
      <div class="options">
        <button mat-button (click)="logout()">Sign Out</button>
      </div>
    </mat-card>
  </div>

  <div class="not-user" *ngIf="!user">
    <mat-card>
      <div class="info">
        <p>Sign in to an existing account</p>
        <p>Register to create a new account</p>
      </div>
      <mat-list><mat-divider></mat-divider></mat-list>
      <div class="credentials">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" [(ngModel)]="userCredentials.email">
          <button mat-icon-button matSuffix *ngIf="userCredentials.email" (click)="userCredentials.email=''" [disabled]="!userCredentials.email" tabindex="-1">
            <mat-icon #accountIconEmailClear id="accountIconEmailClear" color="warn">clear</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <div class="password">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHidden ? 'password' : 'text'" [(ngModel)]="userCredentials.password" (keyup.enter)="login()">
            <button mat-icon-button matSuffix *ngIf="userCredentials.password" (click)="passwordHidden=!passwordHidden" tabindex="-1">
              <mat-icon>{{passwordHidden ? "visibility_off" : "visibility"}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <mat-list><mat-divider></mat-divider></mat-list>
      <div class="options">
        <button mat-button (click)="login()">Sign In</button>
        <button mat-button [routerLink]="['/registration']">Register</button>
      </div>
    </mat-card>
  </div>

</div>