@import '../../styles';

.about {
    width: 100%;

    .about-info {
        width: 75%;
        padding-right: 60px;
        border-right: solid 1px $divider-color;
    }

    .about-learn {
        width: 25%;
        padding-left: 60px;

        h6 {
            text-align: center;
        }
    }
}

