@import '../../styles';

.about {
  width: 100%;
  background-color: #ebebeb;
  min-height: 650px;
  padding-top: 70px;

  .about-row {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 2em 0 2em 0;

    .about-info {
      width: 60%;
      padding: 0 2em 0 2em;
    }

    .about-learn {
      width: 40%;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        height: 100%;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1800px) {
  .about-learn {

    img {
      height: 85% !important;
      width: 90% !important;
    }
  }
}