<div class='about'>

  <div class="header">
    <h4>About</h4>
  </div>

  <div class="body flex">
    <div class='about-info'>
        <h4>About PathLab Services</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio at distinctio, quas dicta exercitationem autem nobis enim quos ratione accusamus quasi explicabo suscipit nam dignissimos. Corporis blanditiis perspiciatis eum eius!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, tempora laboriosam sed inventore mollitia in deserunt tempore veritatis labore exercitationem ratione corporis, accusantium voluptates magni rerum quia possimus quisquam adipisci.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel dolorum enim maiores porro necessitatibus mollitia reprehenderit, ad non earum exercitationem, recusandae molestias beatae molestiae totam similique hic illo atque aperiam?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, cumque et minus consequuntur optio fuga sint recusandae ad neque cum vitae eaque libero assumenda incidunt sapiente inventore earum qui? Alias?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptas beatae enim quasi velit culpa unde natus itaque molestias error tempora, aperiam praesentium ab omnis pariatur saepe nihil amet voluptatem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perspiciatis quia ex distinctio id, exercitationem earum cum repellendus libero odio inventore debitis error natus assumenda officiis. Odit repellendus commodi dolorum!
        </p>
    </div>
    <div class="about-learn">
        <h6>Learn about us</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae doloremque totam optio, beatae repellat at modi natus omnis quod, ducimus consequuntur, illum nostrum? Totam porro natus eligendi ad quas fugit.</p>
    </div>
  </div>

</div>
