@import '../../styles';

.about {
  width: 100%;
  background-color: #ebebeb;
  min-height: 650px;
  padding-top: 70px;

  .about-row {
    width: 100%;
    height: 400px;
    display: flex;

    .about-info {
      width: 66%;
      padding: 0 1em 0 1em;
    }

    .about-learn {
      width: 33%;
      padding: 2em 1em 0 1em;

      h6 {
          text-align: center;
      }

      img {
        height: 260px;
        width: 320px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
}